 input[type="button"]
        {
            background-color: rgb(237, 147, 10);
            height:40px;
            width:120px;
            color:white;            
        }
#box{
    height:200px;
    width:200px;
    background-color: yellowgreen;
    
}